@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.title-header {
  
}

.booking ul li {
  height: 36px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
  background-color: #DDD;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view-offers-btn {
  height: 48px;
  width: 240px;
  border: none;
  border-bottom: 3px solid #c70;
  border-radius: 8px 8px;
  margin: 10px;
  background-color: #fd0;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}